@media (max-width: 640px) {
    .pageTitle {
      margin-top: 20px;
    }
    /* HEADER */
    .header {
      gap: 10px;
      padding: 0.5rem;
      &__logo {
        margin: 0;
      }
      .navBar {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
        &__preorder {
          width: 100%;
          text-align: center;
          color: white;
        }
        &__btnContainer {
          display: flex;
          width: 100%;
          justify-content: center;
          gap: 30px;
        }
        &__btn {
          color: white;
          text-align: center;
        }
      }
    }
  
    /* footer */
    .footer {
      padding: 20px;
      gap: 40px;
      &__socials {
        gap: 20px;
        margin-bottom: 20px;
        &__icon {
          width: 30px;
          height: 30px;
        }
      }
      &__studios {
        gap: 20px;
        margin-bottom: 20px;
        &__icon {
          height: 2.5rem;
        }
      }
      &__platforms {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        &__icon {
          height: 3rem;
        }
      }
      & p {
        text-align: center;
      }
      &__ESRB {
        position: relative;
        bottom: 0;
        right: 0;
      }
    }
  
    /* INDEX */
  
    .boardsSection {
      gap: 50px;
    }
    .board {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0;
      gap: 10px;
      &__image {
        transform: rotate(0deg);
        width: 70vw;
      }
      &__title {
        font-size: 1.75rem;
        align-self: center;
        padding: 0;
        margin: 0;
      }
      &__info {
        font-size: 1.25rem;
      }
      &:nth-of-type(2) {
        & .board__image {
          width: 70vw;
          transform: rotate(0deg);
        }
        & .board__title {
          align-self: center;
          text-align: center;
        }
        & .board__info {
          text-align: center;
        }
      }
    }
  
    .trailerSection {
      &__video {
        width: 90vw;
      }
      &__footer {
        font-size: 2rem;
        position: relative;
        text-align: center;
        &::after {
          width: 300px;
        }
      }
      &__info {
        padding: 0 20px 20px 20px;
        width: 100%;
        margin-bottom: 40px;
      }
    }
  
    .space {
      display: inline;
    }
  
    /* PRE-ORDER */
    .cardsSection {
      margin-top: 0px;
      gap: 100px;
      flex-direction: column;
    }
  
    .requirementsSection {
      width: 100%;
      padding: 0 50px 50px 50px;
      margin-top: -70px;
      &__title {
        margin-bottom: 20px;
      }
    }
  
    .requirements {
      flex-direction: column;
      gap: 30px;
    }
  
    .accordion-button {
      padding: 0;
    }
  
    /* GALLERY */
    .modal-dialog {
      max-width: 100vw;
    }
    .carousel-control-prev {
      margin-left: -1rem;
      scale: 0.8;
    }
  
    .carousel-control-next {
      margin-right: -1rem;
      scale: 0.8;
    }
  
    .closeBtn {
      top: -2.5rem;
      right: 0rem;
    }
  
    .videosSection {
      width: 90vw;
    }
    .imagesSection {
      width: 90vw;
    }
  
    /* COMMUNITY */
    .actionSection {
      flex-direction: column;
    }
  
    .btnContainer {
      border: 4px dashed #f3ca28;
    }
  
    .postSection {
      grid-template-columns: 100vw;
      grid-template-rows: auto;
      width: 100vw;
      &__post {
        gap: 0;
        width: 80vw;
      }
    }
  
    // FAQ
    .accordion-button::after {
      margin-left: 10px;
    }
  
    .faqQuestion {
      padding: 15px;
      width: 90vw;
    }
    .faqAnswer {
      width: 90vw;
    }
  }
  
  @media (max-width: 1500px) {
    .board {
      width: 70vw;
    }
    .cardsSection {
      gap: 5rem;
    }
  }
  
  @media (max-width: 1080px) {
    .navBar__btn,
    .navBar__preorder {
      color: white;
    }
  
    /* INDEX */
  
    .trailerSection {
      &__video {
        width: 80vw;
      }
      &__info {
        width: 80vw;
      }
    }
  
    .board {
      width: 90vw;
    }
  
    /* PRE-ORDER */
    .cardsSection {
      margin-top: -20px;
      gap: 60px;
      scale: 0.9;
    }
  
    .requirementsSection {
      width: 100%;
      padding: 0 50px 50px 50px;
      margin-top: -30px;
    }
  
    .requirements {
      margin-bottom: 1rem;
    }
  
    /* COMMUNITY */
  
    .actionSection__btn {
      border: 4px dashed #f3ca28;
    }
  
    .postSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
  }
